<div class="main lg_font" style="margin-left: 380px; margin-top: 120px;">
      <form *ngIf="isInit">
            <label for="password">
                  Email<span>*</span>
            </label>
            <input type="email" [(ngModel)]="email" id="first" name="first" placeholder="Enter your Email" required>
            <span *ngIf="isSubmitted && email==''">Required</span>
            <label for="password">
                  Username<span>*</span>
            </label>
            <input type="text" [(ngModel)]="userName" id="first" name="first" placeholder="Enter your Username" required>
            <span *ngIf="isSubmitted && userName==''">Required</span>
            <div class="wrap">
                  <button type="submit" (click)="sendOtp()">
                        Send OTP
                  </button>
            </div>
      </form>


      <form *ngIf="isOtp">
            <label for="first">
                  OTP:
            </label>
            <input type="text" id="first" name="first" [(ngModel)]="OTP" placeholder="Enter your OTP">
            <span *ngIf="isSubmitted && OTP==''">Required</span>
            <div class="wrap">
                  <button type="submit" (click)="validateOTP()">
                        Validate OTP
                  </button>
            </div>
      </form>


      <form *ngIf="isUpdatePassword">
            <label for="first">
                  Enter New Password:
            </label>
            <input type="password" id="first" [(ngModel)]="password" name="first" placeholder="Enter your Password required">
            <span *ngIf="isSubmitted && password==''">Required</span>
            <label for="first">
                  Enter Confirm Password:
            </label>
            <input type="password" id="first" [(ngModel)]="confirmPassword" name="first" placeholder="Enter your Confirm Password" required>
            <span *ngIf="isSubmitted && confirmPassword==''">Required</span>
            <div class="wrap">
                  <button type="submit" (click)="updatePassword()">
                        Update Password
                  </button>
            </div>
      </form>
</div>